.product-main {
  &__top-block {
    padding: 15px 10px 30px 15px;
  }
  &__main-block {
  }
}

.product-creation {
  margin-top: 10px;
  &__form {
    display: flex;
  }
  &__left-block {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    flex: 0 1 20%;

    &>*:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__right-block {
    display: flex;
    flex-direction: column;
    flex: 0 1 80%;
    &>*:not(:last-child) {
      margin-bottom: 5px;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      &__tag-color {
        display: flex;
        align-items: flex-start;
        margin-left: 5px;
        & label {
          margin-right: 3px;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
  }
  &__tag-button {
    width: 100px;
  }
  &__button {
    margin-right: 10px;
    width: 150px;
  }
}
.tag-management {
  color: #577399;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 25px;
  text-decoration: underline;
  display: inline-block;
  &:hover {
    color: #316a8f;
  }
}

#tag-name {
  margin-right: 5px;
}

.form-errors {
  color: red;
}


@media(max-width: 690px){
  .product-main {
    &__top-block {
      padding: 15px 4px 30px 5px;
    }
  }
  .product-creation {
    &__right-block {
      &>*:not(:last-child) {
        margin-bottom: 12px;
      }
      &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__tag-color {
          display: flex;
          align-items: flex-start;
          margin: 6px 0 0 0;
          & label {
            margin-right: 3px;
          }
        }
        &__tag-name {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }

}
