<div class="tag-list">
  <h3 class="tag-list__title">Tag List</h3>
  <div class="tag-creation" >
    <div class="tag-creation__item">
      <div class="tag-creation__name">
        <label for="tag-name">Tag name: </label>
        <input [(ngModel)]="tag.name" id="tag-name" #name="ngModel" required minlength="2" maxlength="15"/>
        <div *ngIf="name.invalid" class="form-errors">
          <div *ngIf="name.errors?.['required']" >Name is required.</div>
          <div *ngIf="name.errors?.['minlength']">
            Name must be at least 2 characters long.
          </div>
        </div>
      </div>
      <div class="tag-creation__color">
        <label for="tag-color">Tag color: {{tag.color}}</label>
        <input [(ngModel)]="tag.color" id="tag-color" type="color"/>
      </div>
    </div>
  </div>
  <div class="tag-list__container">
    <div class="tag-list__item" *ngFor="let product of products$ | async">
      <div class="product-title">
        <strong class="product-title__id">{{product.id}}</strong>
        <h4 class="product-title__text">{{product.name}}</h4>
      </div>
      <div class="product-tags">
        <div class="product-tags__item" *ngFor="let tag of product.tags">
          <app-tag-view [color]="tag.color" [text]="tag.name"></app-tag-view>
          <div class="product-tags__buttons">
            <button (click)="editTag(tag)" class="button-reset edit-button">Edit</button>
            <button (click)="deleteTag(tag)" class="button-reset delete-button">Delete</button>
          </div>
        </div>
        <div class="button-tag-add" *ngIf="product && product.tags && product.tags.length < 6">
          <app-button-green (click)="addTagForProduct(product.id)" [buttonText]="'Add tag'"></app-button-green>
        </div>
      </div>
    </div>
  </div>
</div>
