<div *ngIf="editingTag" class="tag-edit">
  <h3 class="tag-edit__title">Edit Tag</h3>
  <div class="tag-edit__container">
    <div class="tag-edit__form">
      <div class="tag-edit__name">
        <label for="tagName">Name:</label>
        <input [(ngModel)]="editingTag.name" id="tagName" #name="ngModel" required minlength="2" maxlength="15"/>
        <div *ngIf="name.invalid" class="form-errors">
          <div *ngIf="name.errors?.['required']" >Name is required.</div>
          <div *ngIf="name.errors?.['minlength']">
            Name must be at least 2 characters long.
          </div>
        </div>
      </div>
      <div class="tag-edit__color">
        <label for="tagColor">Color: {{editingTag.color}}</label>
        <input [(ngModel)]="editingTag.color" id="tagColor" *ngIf="editingTag" type="color"/>
      </div>
    </div>
    <div class="tag-edit__button">
      <app-button-green (click)="saveTag()" [buttonText]="'Save'"></app-button-green>
    </div>
  </div>
</div>
